<h1>Listing posts</h1>
<%= link_to 'New Post', new_post_path %>

<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>User</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <%= render @posts %>
</table>

<div class="paginate">
  <%= paginate @posts %>
</div>
