<h1>Listing posts</h1>
<%= link_to 'New Post', new_post_path %>

<div id='wellcome'>
  Wellcome
</div>
<div id='posts'>
  <%= render @posts %>
</div>

<div class="paginate">
  <%= paginate @posts, :remote => true %>
</div>
