<div class="hero-unit">
  <div class="row">
    <%= current_user.first_name %>, welcome to
  </div>
  <h1 class="row">The tavern</h1>
  <div class="pull-right row">where 1+1 = 10</div>
</div>
<%= render 'posts/list', posts: @posts %>

